/* round buttons */

button {

    background-color: var(--clr-2);
    color: var(--clr-1);
    cursor: pointer;
    border: 2px solid var(--clr-1);
    font-size: 1em;
    padding: 10px 20px;
    width: inherit;
    height: fit-content;
    /* position: relative; */
}


button:hover {
    color: var(--clrbase);
    border: 2px solid var(--clrbase);
}

.btn {
    padding: 8px;
    width: inherit;
    text-align: center;
    text-decoration: none;
    color: var(--clr-1);
    border: 2px solid var(--clr-1);
    cursor: pointer;
}
/* Round */

.btn-round {
    border-radius: 2em;
}
