/* Main Layout */

.editor-layout {
  display: grid;
  grid-template-columns: 450px 30vw;
  justify-content: center;
  grid-template-rows: 450px 100%;
  gap: 20px;
}

.gallery-layout .img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-flow: dense;
  gap: 10px;

  margin-inline: 40px;
}

.editor {
  width: 100%;
  background-color: #be4c01;
  place-items: center;
  padding: 25px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 50px 50px 50px 50px;
  gap: 8px;
  border-radius: 30px;
  box-shadow: -10px 6px 15px var(--clr3);
  grid-template-areas:
    "line line line line line"
    "inc decr switch switch switch"
    "color up down remove add"
    "download e e e e"
  ;
}

.editor .txt-input {
  grid-area: line;
  justify-self: stretch;
  height: 80%;
}

.editor .btn-increase {
  grid-area: inc;
}

.editor .btn-decrease {
  grid-area: decr;
}

.editor .btn-switch {
  grid-area: switch;
}

.editor .btn-up {
  grid-area: up;
}

.editor .btn-down {
  grid-area: down;
}

.editor .btn-add {
  grid-area: add;
}

.editor .btn-remove {
  grid-area: remove;
}

.editor .btn-download {
  grid-area: download;
}