/* Main Layout */

.editor-layout {
  display: grid;
  grid-template-columns: 450px 30vw;
  justify-content: center;
  grid-template-rows: 450px 100%;
  gap: 20px;
}

.gallery-layout .img-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-auto-flow: dense;
  gap: 10px;

  margin-inline: 40px;
}