/* mobile-menu */
@media (max-width: 740px) {

  /* gallery */
  .main-header .main-nav {
    height: 100%;
    font-size: 1rem;
  }

  .main-header {
    height: 80px;
    margin-bottom: 20px;
    /* z-index: 1; */
    /* box-shadow: inset 0px -6px 0 var(--clr6); */
  }

  .main-header .main-nav li {
    margin-inline-end: 10px;
  }

  .main-header .main-nav a {
    width: 80px;
    height: 80px;
    padding: 20px;
  }

  /* Editor */
  .editor-layout {
    grid-template-columns: 250px;
    grid-template-rows: 250px 300px;
  }
}

@media (min-width: 740px) {
  .gallery-layout .img-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-inline: 20px;
  }

}

/* MEDIUM */
/* 880px */

@media (min-width: 930px) {
  .gallery-layout .img-container {
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    margin-inline: 30px;
  }
}

/* LARGE */
/* 1060px */

@media (min-width: 1110px) {
  .gallery-layout .img-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-inline: 40px;
  }
}