/* mobile-menu */
@media (max-width: 740px) {

  /* gallery */
  .main-header .main-nav {
    height: 100%;
    font-size: 1rem;
  }

  .main-header {
    height: 80px;
    margin-bottom: 20px;
    /* z-index: 1; */
    /* box-shadow: inset 0px -6px 0 var(--clr6); */
  }

  .main-header .main-nav li {
    margin-inline-end: 10px;
  }

  .main-header .main-nav a {
    width: fit-content;
    height: 80px;
  }

  .gallery-nav {
    padding: 0 0 30px;
    margin-inline-start: 25px;
    font-size: 1.2rem;
  }


  /* Editor */
  .editor-layout {
    grid-template-columns: 300px;
    grid-template-rows: auto auto;
  }

  .editor {
    gap: 0px 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 40px);
    grid-template-areas:
      "line line line add"
      "up down inc decr"
      "remove color e download"
      " switch switch switch switch"
      "file file file file"
    ;
  }

  button {
    padding: 6px 20px;
  }

  .btn {
    padding: 6px;
  }

  .canvas-container {
    width: 250px;
    height: 250px;
  }

}

@media (min-width: 740px) {

  .gallery-layout .img-container,
  .gallery-layout .memes-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-inline: 20px;
  }

  /* Saved memes */
  .memes-container .btn-delete-storage {
    left: -12px;
    top: -1px;
    padding: 8px 10px;
  }

}

/* MEDIUM */
/* 880px */

@media (min-width: 930px) {

  .gallery-layout .img-container,
  .gallery-layout .memes-container {
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    margin-inline: 30px;
  }
}

/* LARGE */
/* 1060px */

@media (min-width: 1110px) {

  .gallery-layout .img-container,
  .gallery-layout .memes-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-inline: 40px;
  }
}