/* mobile-menu */
@media (max-width: 740px) {

  /* gallery */
  .main-header .main-nav {
    height: 100%;
    font-size: 1rem;
  }

  .main-header {
    height: 80px;
    margin-bottom: 20px;
    /* z-index: 1; */
    /* box-shadow: inset 0px -6px 0 var(--clr6); */
  }

  .main-header .main-nav li {
    margin-inline-end: 10px;
  }

  .main-header .main-nav a {
    width: 80px;
    height: 80px;
    padding: 20px;
  }

  /* Editor */
  .editor-layout {
    grid-template-columns: 450px;
    grid-template-rows: 450px 300px;
  }
}

@media (min-width: 740px) {
  .gallery-layout .img-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    margin-inline: 20px;
  }

  /* Editor */

  .editor {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, 50px);
    grid-template-areas:
      "line line line"
      "up inc remove"
      "down decr  add"
      " switch switch switch"
      "download color e "
    ;
  }

  .editor .txt-input {
    grid-area: line;
    justify-self: stretch;
    height: 80%;
  }

  .editor .btn-increase {
    grid-area: inc;
  }

  .editor .btn-decrease {
    grid-area: decr;
  }

  .editor .btn-switch {
    grid-area: switch;
  }

  .editor .btn-up {
    grid-area: up;
  }

  .editor .btn-down {
    grid-area: down;
  }

  .editor .btn-add {
    grid-area: add;
  }

  .editor .btn-remove {
    grid-area: remove;
  }

  .editor .btn-download {
    grid-area: download;
  }

}

/* MEDIUM */
/* 880px */

@media (min-width: 930px) {
  .gallery-layout .img-container {
    grid-template-columns: repeat(auto-fit, minmax(195px, 1fr));
    margin-inline: 30px;
  }
}

/* LARGE */
/* 1060px */

@media (min-width: 1110px) {
  .gallery-layout .img-container {
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    margin-inline: 40px;
  }
}