.gallery-nav {
    padding: 0 0 30px;
    margin-inline-start: 45px;
    font-size: 1.6rem;
}

.main-gallery {
    background-color: var(--clr-1);
    padding: 20px;
}

.main-gallery .img-container>*:hover {
    border: 1px solid var(--clr1);
    cursor: pointer;
    box-shadow: 6px 2px 6px 0px var(--clr3)
}