.main-header {
  position: relative;
  background-color: var(--clrbase);
  height: 100px;
  margin-bottom: 20px;
  /* z-index: 1; */
  /* box-shadow: inset 0px -6px 0 var(--clr6); */
}

.main-header .main-nav {
  height: 100%;
  font-size: 1.5rem;
}

.main-header .logo {
  margin: 0;
  margin-inline-start: 20px;
  text-shadow: -6px -3px 4px #ac5c07;
}

.main-header .main-nav li {
  margin-inline-end: 40px;
}

.main-header .main-nav a {
  width: fit-content;
  height: 100px;
  align-items: center;
  justify-content: center;
  padding: 8px;
  font-weight: 700;

  text-transform: uppercase;
  display: flex;
  color: inherit;
  text-decoration: overline;
}

.main-header .main-nav a:hover {
  color: var(--clr4);
}